@import "settings";

@import "foundation";

@import "colors";
@import "footer";


body{
  background-color: $body-background;
}

.top-nav-padding{
  height: 40px;
}

.center-margin{
  margin: 0 auto;
}

.shell{
  background-color: $content-background;
}
