.fixed-to-top-cart {
  tbody{
    input{
      margin-bottom: 0px;
    }
  }
  span.error{
    margin-bottom: 0px;
  }
}

.proceed-to-checkout{
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 100000000000000000;
  box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.5);
  left: 0px;
  margin-bottom: 0;
}

@media #{$medium-up} {
  .fixed-to-top-cart{
    position: fixed;
    top: 45px;
    right: 0;
    z-index: 100;
    background: white;

    table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;

      tbody > tr, thead > tr{width:100%;}
      tbody, thead{display: block;}
      tbody {
          overflow-y: auto;
          overflow-x: none;
          width: 100%;
          tr:nth-of-type(even) {
            background: white;
          }
      }
      tfoot{
        width: 100%;
        display: block;
      }
    }

    // tbody > tr, thead > tr{width:100%;}
    // tbody, thead{display: block;}

  }

  .fixed-cart-window-to-small{
    top: 45px;

    thead, tbody { display: block; }

    tbody {
        max-height: 400px;        /* this should be over-written by javascript */
        overflow-y: auto;    /* Trigger vertical scroll    */
        overflow-x: hidden;  /* Hide the horizontal scroll */
    }
  }
}

@media #{$medium-up} {
  .fixed-to-top-cart{
    top: 64px;
  }
}

 /* min-width 1025px, large screens */
@media #{$large-up} {
  .fixed-cart-window-to-small{
    top: 64px;
  }
} /* min-width 1025px, large screens */
