$wrapping-background: #333333;
$footer-background: $wrapping-background;
$body-background: $footer-background;
$content-background: white;
$link-color: #2ba6cb;
$link-active-color: darken($link-color, 20%);
$footer-link-color-small: #aaa;
$dark-background-text-color: white;

.success-color {
  color: color($color-green, '100');
}

.alert-color {
  color: color($color-red, '100');
}

.white-color {
  color: white;
}

.white-background {
  background-color: white !important;
}

.black-color {
  color: black;
}

.no-colors {
  background: none;

  tr:nth-of-type(even) {
    background: none;
  }
}
