$ember-orange: #D2665C;
$rails-red: #cc0000;

$primary-color: color($primary, '500');
$link-color: color($primary, '900');
$link-active-color: darken($link-color, 20%);
$call-to-action-color: color($call-to-action, '600');



$wrapping-background: #333333;
$footer-background: $wrapping-background;
$body-background: $footer-background;
$content-background: white;
$footer-link-color-small: #aaa;
$dark-background-text-color: white;
$footer-link-color: color($color-grey, '100');

.success-color {
  color: color($color-green, '100');
}

.alert-color {
  color: color($color-red, '100');
}

.white-color, .white {
  color: white;
}

.white-background {
  background-color: white !important;
}

.black-color {
  color: black;
}

.no-colors {
  background: none;

  tr:nth-of-type(even) {
    background: none;
  }
}
