.reveal-modal{
  padding: 0px;

  h2 {
    background: $body-background;
    color: $dark-background-text-color;
    text-transform: uppercase;
    line-height: 1.6em;
  }

  p{
    padding: 26px;
    margin-bottom: 0px;
  }

}
