.reveal-modal{
  padding: 0px;

  h2 {
    background: $body-background;
    color: $dark-background-text-color;
    text-transform: uppercase;
    line-height: 1.6em;
  }

  p{
    padding: 26px;
    margin-bottom: 0px;
  }
}


.date-picker-holder{
  /* minimal version of the actual holder from the plugin... positioning was wierd */
  font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 19.2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: left;
}
