.reveal-modal{
  padding: 0px;

  h2 {
    background: $body-background;
    color: $dark-background-text-color;
    text-transform: uppercase;
    line-height: 1.6em;
  }

  p{
    padding: 26px;
  }

  .login-footer{
    margin-top: 26px;
    padding: 26px;
    border-top: 1px solid $footer-link-color-small;
    font-size: 0.8em;
  }
}
