.top-bar .top-bar-section ul li a:hover{
  background: #555 !important;
}

li.has-dropdown a.cog{
  font-size: 20px
}

section {
  &.left-small, &.right-small{
    z-index: 1;
  }
}

/* style for small and medium screens */
.top-bar,
.top-bar li,
.top-bar .name h1,
.top-bar .title-area li h1,
.top-bar section .pages li a {
  height: 40px;
  line-height: 40px;
  text-transform: uppercase;
}

/* remove the drop down caret */
.top-bar-section .has-dropdown > a:after{
  display: none;
}

/* now that the drop down caret is removed, fix the padding of the gear */
.top-bar-section .has-dropdown > a{
  padding: 0 5px !important;
}


@media #{$large-up} {

  .top-bar,
  .top-bar li,
  .top-bar .name h1,
  .top-bar .title-area li h1,
  .top-bar section li.page a {
    height: 60px;
    line-height: 60px;
    text-transform: uppercase;
  }
  .top-bar section ul li > a:not(.button),
  .top-bar-section li:not(.has-form) a:not(.button){
    line-height: 60px;
  }

  .alert-box{
    top: 60px;
  }

  .top-bar .top-bar-section .button{
    margin-top: 10px;
    margin-bottom: 6px;
  }

  .top-bar .top-bar-section .auth li{
    padding-left: 6px;
    padding-right: 6px;
  }



} /* min-width 1025px, large screens */
