// create offset for scrollable content
.imageoverlay.panel.callout.extra-padding{
  margin-top: 20px;
}

.top-bar .top-bar-section ul li a:hover{
  background: #555 !important;
}

.top-bar{
  max-height: 60px;
  overflow: hidden;
}

@media only screen and (min-width:  40.063em) {

  .top-bar,
  .top-bar li,
  .top-bar .name h1,
  .top-bar .title-area li h1,
  .top-bar section .pages li a {
    height: 60px !important;
    line-height: 60px !important;
    text-transform: uppercase !important;
  }

  .top-bar .top-bar-section .button{
    margin-top: 6px;
    margin-bottom: 6px;
  }

  .top-bar .top-bar-section .auth li{
    padding-left: 6px;
    padding-right: 6px;
  }

} /* min-width 1025px, large screens */
