.payment-status-badge {
  font-size  : 1.5em;
  line-height: 2em;
  margin-top : 0.4rem;

  &.paid {
    color: $success-color;
  }

  &.unpaid {
    color: $alert-color;
  }
}

table tr td.order-payment-status {
  text-align: center;
  background: $alert-color;

  &[data-paid] {
    background: lighten($success-color, 5%);
  }
}

.payment-in-progress-container {
  position  : fixed;
  top       : 0;
  bottom    : 0;
  left      : 0;
  right     : 0;
  background: rgba(255, 255, 255, 0.9);
  z-index   : 10;

  * {
    color: black;
  }

  .center-parent {
    width     : 100%;
    margin-top: 20%;
    text-align: center;
  }

  .spinner {
    transform: scale(2, 2);
    width: 54px;
  }

  .spinner > div {
    margin: 1px;
  }

  i {
    font-size: 70px;
  }
}
