.payment-status-badge{
  font-size: 1.5em;
  line-height: 2em;
  margin-top: 0.4rem;

  &.paid{
    color: $success-color;
  }
  &.unpaid{
    color: $alert-color;
  }
}

table tr td.order-payment-status {
  text-align: center;
  background: $alert-color;
  &[data-paid='true'] {
    background: lighten($success-color, 5%);
  }
}
