@media print {
  .do-not-print,
  .sidebar,
  footer,
  nav {
    display: none;
  }
  @page {
    margin : 0 !important;
    padding: 0 !important;
  }

  .page-break	{ display: block; page-break-before: always; page-break-after: always; height: 400px;}
  table { page-break-inside:auto }
  tr    { page-break-inside:avoid; page-break-after:auto }
  thead { display:table-header-group }
  tfoot { display:table-footer-group }

  .printable-signup-sheet {
    // position: fixed;
    // top     : 0;
    // right   : 0;
    // left    : 0;
    // z-index : 1000000000;
    display : block;
  }

  .talley-sheet {
    font-size: 0.8em;

    hr {
      margin-top: 0px;
    }
  }
}

.printable-signup-sheet {
  table {
    width: 100%;

    tr {
      border-bottom: 1px solid black;
    }

    td {
      padding     : 15px;
      border-right: 1px solid black;

      &:last-child {
        border-right: none;
      }
    }
  }
}
