
.show-for-small{
  ul.title-area{
    .name h1 a{
      width: inherit;
    }
  }

  &.top-full-width-auth-buttons{
    ul.button-group {
      li {
        margin: 0px;
        width: 50%;
        a {
          width: 100%;
          margin-bottom: 0;
        }
      }
    }
  }
}
