@media only screen{
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    margin: 0;
    box-shadow: none;
  }

  md-toolbar h2{
    color: white;
  }

  md-input-container {
    &.no-errors {
      .md-errors-spacer {
        display: none;
      }
    }

    &.no-margins {
      margin: 0;
      input {
        margin: 0;
      }
    }
  }

  body{
    a {
      text-decoration: none;
      color: $link-color;
    }

    a.disabled {
      opacity: 0.3;
      cursor:  default;
    }

  }

  .field_with_errors {
    background: #ffcccc;
  }


  a.with-icon {
    i {
      width: 20px;
      text-align: center;
      display: inline-block;
    }
  }

  h6 {
    color: gray;
    font-size: .9em;
    margin-bottom: 0px;
  }
  //
  // .divider hr {
  //   margin: 0;
  // }
  //
  // .print-out-page {
  //   page-break-after: always;
  // }
  //
  // .well-centered {
  //   margin: 0 auto;
  //   width: 400px;
  // }
  //
  // .overview {
  //   margin: 10px;
  //   // margin-top: 70px;
  // }

  .d3-svg-container {
      display: inline-block;
      position: relative;
      width: 100%;
      padding-bottom: 100%; /* aspect ratio */
      vertical-align: top;
      overflow: hidden;
  }
  .svg-content-responsive {
      display: inline-block;
      position: absolute;
      top: 10px;
      left: 0;
  }

  // .flash-message.alert-box {
  //   position: fixed;
  //   top: 45px;
  //   width: 100%;
  //   z-index: 10;
  //   .close {
  //     top: 25%;
  //     color: black;
  //     opacity: 0.8;
  //   }
  // }
  //
}
