@media only screen{

  body{
    // label{
    //   font-weight: bold; // maybe slightly lighter?
    // }


    background-color: $body-background;

    .shell{
      background-color: $content-background;

      .page-title{
        padding-top: 20px;
      }

    }

    .panel.bg-header{
      height: 200px;
      padding-top: 50px;
    }

  }

  .field_with_errors {
    background: #ffcccc;
  }


  a {
    i {
      width: 20px;
      text-align: center;
      display: inline-block;
    }
  }

  h6 {
    color: gray;
    font-size: .9em;
    margin-bottom: 0px;
  }

  .divider hr {
    margin: 0;
  }

  .print-out-page {
    page-break-after: always;
  }

  .well-centered {
    margin: 0 auto;
    width: 400px;
  }

  .overview {
    margin: 10px;
    // margin-top: 70px;
  }

  .sunburst-chart {
    display:flex;
    justify-content:center;
    align-items:center;
    width: 100%;
    height: 100%;
    .center-info-container {
      position: absolute;
      top: 55%;
      left: 50%;
      width: 300px;
      .center-info {
        position: absolute;
        left: -50%;
        width: 300px;
      }
    }
  }

  .flash-message.alert-box {
    position: fixed;
    top: 45px;
    width: 100%;
    z-index: 10;
    .close {
      top: 25%;
      color: black;
      opacity: 0.8;
    }
  }

}
