table {
  border-collapse: collapse;

  tr {
    th.divider,
    td.divider {
      border-bottom: 1px solid lightgray;
    }

    th {
      i {
        margin-left: 5px;
        &:hover {
          text-decoration: none;
        }
      }
    }

    td {
      &.deleted a {
        color: red;
      }

      &.order-payment-status {
        text-align: center;
        background: #ffaaaa;

        &[data-paid] {
          background: #aaddaa;
        }
      }
    }
  }
}
