$directions: "left", "right", "bottom", "top";
$intervals: 5, 10, 15, 20;

$max-widths: 65rem, 70rem, 75rem, 85rem;

@each $dir in $directions {
  @each $amount in $intervals {

    .padding-#{$dir}-#{$amount} {
      padding-#{$dir}: #{$amount}px;
    }

    .margin-#{$dir}-#{$amount} {
      margin-#{$dir}: #{$amount}px;
    }
  }
}

@each $width in $max-widths {

  .max-width-#{$width} {
    max-width: #{$width};
  }

}


@for $i from 1 through 10 {
  .percent-width-#{$i}0 {
    width: #{$i}0%;
    display: block;
  }
}

@for $i from 1 through 10{
  .width-of-#{$i}0 {
    width: #{$i}0%;
  }
}

@for $i from 1 through 30{
  .width-of-#{$i}0px{
    width: #{$i}0px;
  }
}

.extra-padding {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}



.icon-thumbnail{
  font-size: 96px;
  line-height: 96px;
  width: 128px;
  text-align: center;
  text-indent: -21px;
}

.no-border{
  border: none;
}

.no-lineheight{
  line-height: 1em
}

.no-margins{
  margin: 0;
}

.no-bottom-margin{
  margin-bottom: 0;
}

.center-margin{
  margin: 0 auto;
}

.surround-padding-10{
  padding: 10px;
}

.surround-padding-20{
  padding: 20px;
}

.margin-top-20{
  margin-top: 20px;
}


.hidden {
  display: none;
  visibility: hidden;
}
