.extra-padding {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.no-lineheight{
  line-height: 1em
}

.no-margins{
  margin: 0;
}

.no-bottom-margin{
  margin-bottom: 0;
}

.center-margin{
  margin: 0 auto;
}

.surround-padding-10{
  padding: 10px;
}

.surround-padding-20{
  padding: 20px;
}

.margin-top-20{
  margin-top: 20px;
}
