.extra-padding {
  padding-top: 10px !important;
  padding-bottom: 30px !important;
}

.no-lineheight{
  line-height: 1em
}

.no-margins{
  margin: 0;
}

.no-bottom-margin{
  margin-bottom: 0;
}

.center-margin{
  margin: 0 auto;
}
