body.with-small-footer {

  .shell{
    padding-bottom: 80px;
  }

  section.main-section {
    overflow: auto;
    position: fixed;
    top: 45px;
    bottom: 40px;
    left: 0px;
    right: 0px;
    padding-bottom: 80px;
  }



  .off-canvas-wrap, .inner-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
  }


}
