<br /><br />
<div class='row'>
  <div class='small-12 medium-6 columns medium-offset-3'>
    <h2 class='text-center'>Login</h2>

    <p>
      {{login-form afterLogin=(action 'didAuthenticate')}}
    </p>
  </div>
</div>
<br />
