<div class='welcome-background' style='top: -650px'></div>

<div class='layout-row layout-align-center-center' style='flex: 1 1; z-index: 1; max-height: 1000px;'>
  <div class='flex-100 flex-gt-xs-50 flex-gt-md-33 flex-gt-lg-25 padding-20'>

    <h2 class='text-center white text-shadow' style='padding-left: 8px;'>Login</h2>

    <p>
      {{#paper-card as |card|}}
        {{#card.content}}
          {{login-form afterLogin=(action 'didAuthenticate')}}

        {{/card.content}}
      {{/paper-card}}
    </p>
  </div>
</div>
<br />
