<div class='layout-row layout-align-center-center' style='flex: 1 1'>
  <div class='flex-100 flex-gt-xs-50 padding-20'>

    <h2 class='text-center' style='padding-left: 8px;'>Login</h2>

    <p>
      {{#paper-card as |card|}}
        {{#card.content}}
          {{login-form afterLogin=(action 'didAuthenticate')}}

        {{/card.content}}
      {{/paper-card}}

    </p>
  </div>
</div>
<br />
