{{#ember-paper/ellipsis-menu as |content menu|}}
  {{#content.menu-item}}
    {{#link-to 'register.event-registration.show.index' registration.id}}
      <span>View</span>
    {{/link-to}}
  {{/content.menu-item}}

  {{#unless registration.orders.firstObject.paid}}
    {{#content.menu-item}}
      {{#link-to 'register.event-registration.show.edit' registration.id}}
        <span>Edit</span>
      {{/link-to}}
    {{/content.menu-item}}

    {{#content.menu-item onClick=(action 'onCancel')}}
      Cancel
    {{/content.menu-item}}
  {{/unless}}
{{/ember-paper/ellipsis-menu}}

{{#modals/confirm-modal
  title='Are you sure?'
  isModalShowing=showModal
  didConfirm=(action onConfirmCancel)}}

  Registering again may result in an increased price.<br />
  Are you sure you wish to cancel?<br />
{{/modals/confirm-modal}}
