<h4>Membership</h4>

<table>
  <thead>
    <tr>
      <th class='width-of-80px'>
        Price
      </th>
      <th>
        Purchase?
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each membershipOptions as |option|}}
      <tr>
        <td>{{to-usd option.price}}</td>
        <td>
          <button class='tiny no-margins' {{action (action add option)}}>{{fa-icon 'plus'}}</button>
        </td>
        <td>{{option.name}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
