<div class='welcome-screen'>
  {{to-elsewhere
    named='top-navigation'
    send=(component 'welcome-home/welcome-nav'
      class='primary-bg'
    )
  }}

  <div class='welcome-background'></div>
  <div class='layout-column welcome-content'>
    {{outlet}}
  </div>
  <div class='welcome-background-bottom'></div>


  {{to-elsewhere
    named='app-footer'
    send=(component 'sticky-footer')
  }}
</div>
