<div class='welcome-screen'>
  {{to-elsewhere
    named='top-navigation'
    send=(component 'welcome-home/welcome-nav')
  }}

  <div class='welcome-background'></div>
  <div class='layout-column welcome-content'>
    {{outlet}}
  </div>
  <div class='welcome-background-bottom'></div>

  {{sticky-footer classNames='sticky-footer'}}
</div>
