<div class='sunburst-chart' id='chart-event-sunburst'>
  <div class='center-info-container'>
    <div class='center-info text-center' id='chart-event-sunburst-explanation'>

    </div>
  </div>
</div>
