{{#if showTopNav}}
  <div class='layout-row layout-align-space-around-center hide-sm hide-xs'>
    {{#link-to 'register.event-registration.show.edit.index' model}}
      Info and Registration
    {{/link-to}}


    {{#if hasTickets}}
      {{#link-to 'register.event-registration.show.edit.ticket' model
        disabled=model.registration.isNew
        data-test-registration-top-nav='tickets'}}
        Ticket
      {{/link-to}}
    {{/if}}

    {{#if hasLineItems}}
      {{#link-to 'register.event-registration.show.edit.line-items' model.event.domain model.event.id model.registration.id
        disabled=model.registration.isNew
        data-test-registration-top-nav='line-items'}}
        À la Carte
      {{/link-to}}
    {{/if}}

    {{#if hasHousing}}
      {{#link-to 'register.event-registration.show.edit.housing' model
        disabled=model.registration.isNew
        data-test-registration-top-nav='housing'}}
        Housing
      {{/link-to}}
    {{/if}}

    {{#if hasShirts}}
      {{#link-to 'register.event-registration.show.edit.shirts' model
        disabled=model.registration.isNew
        data-test-registration-top-nav='shirts'}}
        Shirts
      {{/link-to}}
    {{/if}}

    {{#if hasCompetitions}}
      {{#link-to 'register.event-registration.show.edit.competitions' model
        disabled=model.registration.isNew
        data-test-registration-top-nav='competitions'}}
        Competitions
      {{/link-to}}
    {{/if}}
  </div>
{{/if}}

{{to-elsewhere named='left-side-bar'
  send=(component 'app-nav/event-registration-edit-sidebar'
        event=model.event
        model=model
        hasHousing=hasHousing
        hasShirts=hasShirts
        hasCompetitions=hasCompetitions
        hasTickets=hasTickets
        hasLineItems=hasLineItems
       )}}

{{outlet}}
