{{#if showTopNav}}
  <div class='layout-row layout-align-space-around-center hide-sm hide-xs'>
    {{#link-to 'register.event-registration.show.edit.index' model}}
      Info and Registration
    {{/link-to}}

    {{#if hasHousing}}
      {{#link-to 'register.event-registration.show.edit.housing' model
        disabled=model.registration.isNew
        data-test-registration-top-nav='housing'}}
        Housing
      {{/link-to}}
    {{/if}}

    {{#if hasShirts}}
      {{#link-to 'register.event-registration.show.edit.shirts' model
        disabled=model.registration.isNew
        data-test-registration-top-nav='shirts'}}
        Shirts
      {{/link-to}}
    {{/if}}
    {{log model}}
    {{#if hasCompetitions}}
      {{#link-to 'register.event-registration.show.edit.competitions' model
        disabled=model.registration.isNew
        data-test-registration-top-nav='competitions'}}
        Competitions
      {{/link-to}}
    {{/if}}
  </div>
{{/if}}

{{to-elsewhere named='left-side-bar'
  send=(component 'app-nav/event-registration-edit-sidebar'
        event=model.event
        model=model
        hasHousing=hasHousing
        hasShirts=hasShirts
        hasCompetitions=hasCompetitions
       )}}

{{outlet}}
