{{#paper-form onSubmit=(action 'didSubmitForm') as |form|}}
  <div class='layout-column layout-align-center-center'>
    {{register/event-registration-form/attendance-information
      hasVolunteers=event.hasVolunteers
      attendance=registration
      logoUrl=event.logoUrlThumb
      onFinishInfo=(action 'didFinishInfo')
    }}

    {{register/event-registration-form/package-select
      selectedPackage=selectedPackage
      packages=packages
      onPackageSelect=(action 'didUpdateSelectedPackage')
      logoUrl=event.logoUrlThumb
    }}

    {{#if selectedPackage.requiresTrack}}
      {{register/event-registration-form/level-select
        selectedLevel=registration.level
        levels=levels
        onLevelSelect=(action 'didUpdateSelectedLevel')
        logoUrl=event.logoUrlThumb
      }}
    {{/if}}


    <div class="layout-row">
      {{#form.submit-button raised=true primary=true}}
        Proceed
      {{/form.submit-button}}
    </div>
  </div>

{{/paper-form}}
