<div class='layout-row layout-align-space-around-center hide-sm hide-xs'>
  {{#link-to 'register.event-registration.show.edit.index'}}
    Info and Registration
  {{/link-to}}
  {{#link-to 'register.event-registration.show.edit.housing'}}
    Housing
  {{/link-to}}
  {{#link-to 'register.event-registration.show.edit.shirts'}}
    Shirts
  {{/link-to}}
  {{#link-to 'register.event-registration.show.edit.competitions'}}
    Competitions
  {{/link-to}}
</div>

{{to-elsewhere named='left-side-bar'
  send=(component 'app-nav/event-registration-edit-sidebar'
  event=model.event)}}

{{outlet}}
