<div class='layout-row'>
  <div class='flex'></div>

  <div class='flex-gt-xs-95 flex-gt-sm-85 flex-gt-md-66 flex-gt-lg-50'>
    {{page-header text='Edit Housing Request'}}
    {{editing/event/housing/request-form
      model=model.housingRequest
      whoIsRequestingType=0
    }}
  </div>

  <div class='flex'></div>
</div>
