{{#paper-radio-group
  class=class
  groupValue=(readonly selectedOrientation)
  onChange=(action didSelectOrientation) as |group|}}
  <div class='layout-row layout-align-space-between'>
    {{#group.radio value='Lead'}}
      {{leadText}}
    {{/group.radio}}

    {{#group.radio value='Follow'}}
      {{followText}}
    {{/group.radio}}
  </div>
{{/paper-radio-group}}
{{ember-paper/error-message errors=errors value=selectedOrientation}}
