{{#error-field-wrapper errors=errors filed='package'}}

  <h3>Select Package</h3>
  {{#each packages as |package| }}

    {{radio-button
      value=package
      changed='selectionChanged'
      groupValue=_packageSelection
    }}

    <label>
      <span class='width-of-80px inline'>
        {{to-usd package.currentPrice}}
      </span>
      {{package.name}}
    </label>
    <br />
  {{/each}}

{{/error-field-wrapper}}
