<div class='layout-row'>
  <div class='flex'></div>
  <div class='flex-gt-xs-85 flex-gt-sm-66 flex-gt-md-50'>
    <h3>Competitions</h3>

    {{register/event-registration-form/competition-options
      order=order
      competitions=competitions
      addCompetition=(perform addCompetitionTask)
      removeCompetition=(perform removeCompetitionTask)
      updateCompetition=(perform updateCompetitionTask)
    }}

    <div class='layout-row layout-align-end-center'>
      {{#paper-button
        onClick=(action 'didFinishSelectingCompetitions')
        raised=true
        primary=true}}
        Proceed
      {{/paper-button}}
    </div>
  </div>
  <div class='flex'></div>
</div>
