footer {
  text-align: center;
  width: 100%;
  font-size: 0.8em;
  line-height: 20px;
  background: $footer-background;
  padding: 40px 40px;
  color: white;

  a {
    font-size: 0.8em;
  }

  &.small{
    max-height: 40px;
    margin-top: 0px;
    position: fixed;
    bottom: 0px;
    text-align: center;
    width: 100%;
    font-size: 0.8em;
    background: $footer-background;
    padding: 10px 40px;
    color: $footer-link-color-small;

    a{
      color: $footer-link-color-small;
    }

    ul.inline-list{
      margin: 0;
    }
    .row.copy{
      display: none;
    }
  }
}
