& {
  z-index: 1;
  position: relative;
}
footer {
  width: 100%;
  font-size: 1em;
  line-height: 20px;
  background: $footer-background;
  padding: 40px 40px;
  color: white;

  h4 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  a {
    font-size: 0.9em;
    text-decoration: none;
    color: $footer-link-color;

    &:visited {
      color: $footer-link-color;
    }

    &.ember {
      font-size: 50px;
    }

    .fa-ember {
      color: #9b2918;
      display: block;
      text-shadow: 0 0 5px black;
    }

    .ruby-gem {
      color: #cc0000;
      font-size: 24px;
      text-shadow: 0 0 5px black;
    }
  }

  .copyright {
    text-align: right;
  }

  &.small{
    max-height: 40px;
    margin-top: 0px;
    position: fixed;
    bottom: 0px;
    text-align: center;
    width: 100%;
    font-size: 0.8em;
    background: $footer-background;
    padding: 10px 40px;
    color: $footer-link-color-small;

    a{
      color: $footer-link-color-small;
    }

    ul.inline-list{
      margin: 0;
    }
    .row.copy{
      display: none;
    }
  }
}
