<footer class='layout-column layout-align-start-stretch'>
  <div class='layout-row layout-align layout-align-space-between-stretch'>
    <div class='layout-column open-source'>
      <h4>This Project is Open Source</h4>
      {{#link-to 'welcome.opensource'}}
        View projects
      {{/link-to}}

      <br />
      Special shoutouts to:
      <a href='https://emberjs.com/' class='ember' target='_blank'>
        <i class='fab fa-ember'></i>
      </a>

      <a href='http://rubyonrails.org/' target='_blank'>
        <span class='ruby-gem'>💎</span> Ruby on Rails
      </a>
    </div>

    {{!-- <div class='layout-column'>
      <h4>Information</h4>


    </div> --}}

    <div class='layout-column'>
      <h4>Resources</h4>

      {{#link-to 'welcome.tos'}}
        {{ t 'tos' }}
      {{/link-to}}

      {{#link-to 'welcome.privacy'}}
        {{ t 'privacy' }}
      {{/link-to}}

      <a href='https://www.facebook.com/aeonvera' target='_blank'>
        Facebook Page
      </a>
    </div>



  </div>

  <div class='copyright'>
    {{t 'copyright'}}<br />

    <a href='mailto:support@aeonvera.com'>
      <i class='fa fa-envelope'></i>
    </a>

    <a href='https://facebook.com/aeonvera' target="_blank">
      <i class='fab fa-facebook'></i>
    </a>
  </div>
</footer>
