<h1><i class='fa fa-laptop'></i></h1>
<h2>Manage Registration at the Door</h2>
<p>
  Everything needed during the event is available right here.
  Keep track of checkins, merchandise and inventory, sales, competitions, raffles, etc
</p>

<h1><i class='fa fa-credit-card'></i></h1>
<h2>Credit Processing</h2>
<p>
  Accept Visa, MasterCard, Amex, Debit and Discover cards.
  Credit card processing fee determined by the payment gateway.
</p>

<h1><i class='fa fa-cc-stripe'></i></h1>
<h2>Gateway Payments</h2>
<p>
  No merchant account required. Just connect your Stripe account
  and all the payment collecting is easy peasy.
  (Paypal and other gateways coming soon™)
</p>

<h1><i class='fa fa-tag'></i></h1>
<h2>Fee Freedom</h2>
<p>
  For electronic payments, fees may be passed on to registrants, or absorbed into your price.  You decide who is paying the fees.
</p>

<h1><i class='fa fa-lock'></i></h1>
<h2>Secure Payments</h2>
<p>
  Encrypted transactions and payments via
  <a href="http://en.wikipedia.org/wiki/Transport_Layer_Security">TLS (better than SSL)</a>
  <br />
  Bank-level™ security.
</p>
