<div class='layout-row  layout-xs-column layout-sm-column'>
  <div class='flex-gt-lg-75 flex-gt-sm-66 flex-xs-100'>
    {{#paper-tabs borderBottom=true selected=currentTabIndex as |tabs|}}
      {{#tabs.tab data-test-pos-tab='all' onClick=(transition-to 'event-at-the-door.a-la-carte.index')}}
        All
      {{/tabs.tab}}

      {{#tabs.tab data-test-pos-tab='shirts' onClick=(transition-to 'event-at-the-door.a-la-carte.shirts')}}
        Shirts
      {{/tabs.tab}}

      {{#tabs.tab data-test-pos-tab='competitions' onClick=(transition-to 'event-at-the-door.a-la-carte.competitions')}}
        Competitions
      {{/tabs.tab}}

      {{#tabs.tab data-test-pos-tab='tickets' onClick=(transition-to 'event-at-the-door.a-la-carte.tickets')}}
        Tickets
      {{/tabs.tab}}

      {{#tabs.tab data-test-pos-tab='other' onClick=(transition-to 'event-at-the-door.a-la-carte.other')}}
        Other
      {{/tabs.tab}}

    {{/paper-tabs}}

    {{outlet}}
  </div>

  {{#if (is-present order)}}
    {{to-off-viewport-button
      class='hide-gt-sm'
      targetSelector='#pos-order-summary-review'
      label='Proceed'
    }}
  {{/if}}

  <div id='pos-order-summary-review' class='layout-column flex-gt-lg-25 flex-gt-sm-33 flex-xs-100'>
    {{at-the-door/pos/order-summary
      order=order
      event=event
      onRemoveLineItem=(action 'didRemoveOrderLineItem')
      onCancelOrder=(action 'onCancelOrder')
    }}
  </div>
</div>
