{{#paper-card as |card|}}
  {{!-- {{#card.title}}Level{{/card.title}} --}}
  {{#card.content}}

    {{#paper-radio-group
      groupValue=(readonly selectedId)
      errors=errors
      onChange=(action 'didChooseLevel') as |g|}}

      {{#each levels as |level|}}
        {{#g.radio value=level.id}}
          <div class='layout-row'>
            <div class='layout-column'>
              <strong>{{level.name}}</strong>
              <em>{{level.description}}</em>
              {{#if level.hasRequirement}}
                <em>Requires {{level.requiresName}}</em>
              {{/if}}
            </div>
          </div>
        {{/g.radio}}
      {{/each}}

    {{/paper-radio-group}}
  {{/card.content}}

{{/paper-card}}
