{{#paper-form onSubmit=(action 'didSubmitForm') as |form|}}
  <div class='layout-row'>
    <div class='flex'></div>
    <div class='flex-gt-xs-85 flex-gt-sm-66 flex-gt-md-50'>
      {{register/event-registration-form/registration-information
        hasVolunteers=event.hasVolunteers
        registration=registration
        logoUrl=event.logoUrlThumb
        onFinishInfo=(action 'didFinishInfo')
      }}

      {{register/event-registration-form/package-select
        selectedId=(readonly selectedPackage.id)
        packages=packages
        onPackageSelect=(action 'didUpdateSelectedPackage')
        logoUrl=event.logoUrlThumb
      }}

      {{#if (is-present event.levels)}}
        {{#if selectedPackage.requiresTrack}}
          {{register/event-registration-form/level-select
            selectedLevel=selectedLevel
            levels=levels
            onLevelSelect=(action 'didUpdateSelectedLevel')
            logoUrl=event.logoUrlThumb
          }}
        {{/if}}
      {{/if}}


      <div class="layout-row layout-align-end-center">
        {{#form.submit-button raised=true primary=true}}
          Proceed
        {{/form.submit-button}}
      </div>
    </div>
    <div class='flex'></div>
  </div>
{{/paper-form}}
