<div class='form-error-wrapper layout-row layout-align-start-center'>
  {{#paper-button iconButton=true onClick=(action onHide)}}
    {{paper-icon "close"}}
  {{/paper-button}}

  <div class='form-error-message'>
    {{message}}
  </div>
</div>
