<div class='row center-margin'>
  <div class='small-12 columns'>
    <h2 class='page-title'>Upcoming Events</h2>

    <div class='layout-row layout-wrap'>
      {{#each model as |event|}}
        {{upcoming-event
          event=event
          class='flex-xs-100 flex-gt-sm-50'
          data-test-upcoming-event-id=event.id}}
      {{/each}}
    </div>
  </div>
</div>
