<div class='row center-margin'>
  <div class='small-12 columns'>
    <h2 class='page-title'>Upcoming Events</h2>

    {{upcoming-events-table model=model}}

    {{#link-to 'dashboard' classNames='button'}}
      Back
    {{/link-to}}
  </div>
</div>
