<br>
<div class='text-center'>
  <h1 class='text-center'>
    {{ t 'appname' }}
  </h1>
  <h6 class='text-center'>
    {{ t 'subheader' }}
  </h6>
  <br>
  <span>
    {{ t 'copyright' }}
  </span>
  <br><br>
  <h3>
    <a href='https://www.facebook.com/aeonvera'>
      <i class='fa fa-facebook'></i> facebook
    </a>
    <br>
    <a href='https://github.com/NullVoxPopuli/aeonvera/issues'>
      <i class='fa fa-github'></i> issue tracker
    </a>
  </h3>
</div>
<br>
<br>
<br>
<br>
