{{#if (and value dataUrl)}}
  <img src={{dataUrl}} />
{{else}}
  <span class='no-image-container'>
    <i class="fas fa-image"></i>
    <span>Choose an Image</span>
  </span>
{{/if}}

<input type='file' value=value onchange={{action 'fileSelected'}} />
