<br />
<div class='row'>
  <div class='small-12 medium-8 columns medium-offset-2'>
    <div class='text-center'>
      {{#link-to 'register' model.domain}}
        {{event/logo-thumbnail model=model imageClass='center-margin'}}
      {{/link-to}}
      <br /><br />

      <h4>Thank You</h4>

      <p>
        You should receive an email shortly confirming your registration and payment.
      </p>

      <br /><br /><br />

      {{#paper-button raised=true primary=true onClick=(action (transition-to 'register'))}}
        Register Again?
      {{/paper-button}}

      {{#paper-button raised=true onClick=(action (transition-to 'register'))}}
        View Registrations
      {{/paper-button}}

    </div>
  </div>
</div>
