<div class='row'>
  <div class='columns small-3 medium-4'>
    {{#unless model.logoIsMissing}}
      <img class='right' src='{{model.logoUrlThumb}}' />
    {{/unless}}
  </div>
  <div class='columns small-9 medium-8'>
    <h1>{{model.name}}</h1>
    {{#if subtitle}}
      <h4>{{subtitle}}</h4>
    {{/if}}
  </div>
</div>
