<div class='layout-column layout-align-center-center'>
  <span>Net Received: {{to-usd net}}</span>

  {{!-- {{c3-chart data=data size=size pie=chartConfig legend=legend}} --}}

  {{#unless small}}
    {{#paper-checkbox value=showFees onChange=(action (mut showFees))}}
      Show Fees ({{to-usd fees}})
    {{/paper-checkbox}}
  {{/unless}}
</div>
