<div class='layout-column'>

  {{#if (is-present upcomingHostedEvents)}}
    <h4>Hosted Events</h4>
    <div class='layout-row layout-wrap'>
      {{#each upcomingHostedEvents as |event|}}
        {{upcoming-hosted-event event=event class='flex-xs-100 flex-gt-sm-50'}}
      {{/each}}
    </div>
  {{/if}}

  <br />
  <br />
  <h4>Upcoming Events</h4>
  <div class='layout-row layout-wrap'>

    {{#each upcomingEvents as |event|}}
      {{upcoming-event event=event class='flex-xs-100 flex-gt-sm-50'}}
    {{/each}}
  </div>
</div>

{{!--
  Implement this when there are enough events to search for
  Also, think of a way to merge with community stuff.
--}}
{{!-- {{paper-input
  class='full-width'
  type='text'
  label='Search for an event'
  value=(readonly eventSearch)
  onChange=(action (mut eventSearch))
}} --}}
