<h2>Oh no!</h2>
<em>An error occurred.</em>
<h4>This is likely not your fault</h4>


{{#each errors as |error|}}
  <h2>{{error.code}}</h2>
  <em>
    <h4>{{error.title}}</h4>
  </em>
  {{log error}}
{{/each}}
