<div class='layout-column layout-align-space-around-stretch'>
  <div class='layout-column layout-align-center-start'>

    <div class='main-title layout-row layout-align-center-center'>
      <h1 class='welcome-title'>{{t 'subheader'}}</h1>
    </div>

    <div class='calls-to-action layout-row layout-align-space-around'>
      {{#paper-button
        raised=true
        onClick=(action (transition-to 'upcoming-events'))}}
        {{t 'buttons.eventcalendar'}}
      {{/paper-button}}

      {{#paper-button
        raised=true primary=true
        onClick=(action (transition-to 'events.new'))}}
        {{t 'buttons.createyourevent'}}
      {{/paper-button}}
    </div>
  </div>

  <div class='layout-column layout-align-space-around'>


    <div class='welcome-blurb'>
      <h2>
        Everything needed to run your event.
      </h2>

      From a customizable form and field builder to
      choosing how and when a pricing tier bracket will be trigger to
      handling at the door merchandise sales.
      <br  /><br />
      Each feature has carefully constructed automated tests so that no
      changes to the system will cause anything to break.
      <br /><br />

      Want to suggest a new feature?
      <a href='https://feathub.com/NullVoxPopuli/aeonvera' target='_blank'>
        You can here.
      </a>

      <hr />
      {{#link-to 'welcome.features'}}
        Click here for the full list of features
      {{/link-to}}
    </div>

    <div class='welcome-blurb'>
      <h2>
        Cheaper than every other online event registration system.
      </h2>

      Financially the goal of this project isn't to make money.
      It's to provide a cheap alternative to overly gerenic event
      management systems, and provide more features than free ones.
      <br />
      <br />
      <strong>
        80% of the fees go to the payment processor.<br  />
        20% go towards the development of this site.
      </strong>
      <br /><br />

      The payment processor fee will the about the same on any site,
      about 2.9% per transaction. Many event registration sites will
      nearly double that to make their profits.


      <hr />
      Visit
      {{#link-to 'welcome.pricing'}}
        the pricing page
      {{/link-to}}

      for details on how it all breaks down.
    </div>
  </div>
</div>
