
<div class='layout-row'>
  <div class='flex'></div>
  <div class='flex-gt-xs-66 flex-gt-sm-50 flex-gt-md-33'>
    <h3>Shirts</h3>

    {{register/event-registration-form/shirt-options
      order=model.registration.unpaidOrder
      shirts=model.event.shirts
      addShirt=(action 'addShirt')
      removeShirt=(perform removeShirt)
      updateShirt=(action 'updateShirt')
    }}

    <div class='layout-row layout-align-end-center'>
      {{#paper-button
        onClick=(action 'didFinishSelectingShirts')
        raised=true
        primary=true}}
        Proceed
      {{/paper-button}}
    </div>
  </div>
  <div class='flex'></div>
</div>
