{{page-header text='New Confirmation Token Sent'}}

<p>
  Your new confirmation token has been sent to your email address.
  Please allow for a couple minutes for the email to traverse the internet and find its way to your inbox.
  If you do not receive the email, please double check your spam folder, or any other filtering you may have.
  If you have any questions, you may always email {{ links/mail-support-link }}
</p>
