{{#paper-toolbar class='hide-gt-sm'}}
  {{#paper-toolbar-tools}}
     {{event.name}}
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}

{{#paper-list}}

  {{#paper-item}}
    {{#link-to 'register' event.domain}}All Registrations{{/link-to}}
  {{/paper-item}}

  {{paper-divider}}

  {{#paper-item}}<h5>Current Registration</h5>{{/paper-item}}

  {{#paper-item}}
    {{#link-to 'register.event-registration.show.edit.index' model}}
      Info and Registration
    {{/link-to}}
  {{/paper-item}}

  {{#if hasHousing}}
    {{#paper-item}}
      {{#link-to 'register.event-registration.show.edit.housing' model disabled=model.registration.isNew }}
        Housing
      {{/link-to}}
    {{/paper-item}}
  {{/if}}

  {{#if hasShirts}}
    {{#paper-item}}
      {{#link-to 'register.event-registration.show.edit.shirts' model disabled=model.registration.isNew}}
        Shirts
      {{/link-to}}
    {{/paper-item}}
  {{/if}}

  {{#if hasCompetitions}}
    {{#paper-item}}
      {{#link-to 'register.event-registration.show.edit.competitions' model disabled=model.registration.isNew}}
        Competitions
      {{/link-to}}
    {{/paper-item}}
  {{/if}}

  {{#paper-item}}
    {{#link-to 'register.event-registration.show' model disabled=model.registration.isNew}}
      Review
    {{/link-to}}
  {{/paper-item}}

{{/paper-list}}
