{{#ember-paper/simple-dialog
  title='Refund Payment'
  onClose=onClose
  didClickClose=didClickClose
}}

  {{paper-radio
    label='Full Refund'
    value='full'
    groupValue=refundType
    onChange=(action (mut refundType))
  }}
  <br>
  {{paper-radio
    label='Partial Refund'
    value='partial'
    groupValue=refundType
    onChange=(action (mut refundType))
  }}

  {{#if isRefundPartial}}
    {{paper-input
      label='Dollar Amount'
      value=partialRefundValue
      type='number'
      min='0'
      onChange=(action (mut partialRefundValue))
    }}
  {{/if}}

  <br>
  <em><small>
    Refunds take 5 to 10 days to appear on your customer's statement.<br>
    It may take a couple of minutes for a receipt to be sent to your customer.
  </small></em>
  <hr>

  <div class='layout-row layout-align-end-end'>
    {{#paper-button
      primary=true
      raised=true
      disabled=isRefundButtonDisabled
      onClick=(perform refundPaymentTask)}}
      {{#if refundPaymentTask.isIdle}}
        Refund
      {{else}}
        Loading...
      {{/if}}
    {{/paper-button}}
  </div>
{{/ember-paper/simple-dialog}}
