{{#paper-card as |card|}}
  {{#card.content}}
    {{#paper-radio-group
      groupValue=(readonly selectedId)
      onChange=(action 'didChoosePackage') as |g|}}

      {{#each packages as |package|}}
        {{#g.radio value=package.id}}
        <div class='layout-column'>
          <div class='layout-row'>
            <strong>
              <span class='price'>{{to-usd package.currentPrice}}</span>
              {{package.name}}
            </strong>
            </div>

            <em>{{package.description}}</em>
          </div>
        {{/g.radio}}
      {{/each}}

    {{/paper-radio-group}}
  {{/card.content}}
{{/paper-card}}
