{{page-header text='Reset Your Password' }}

<p>
  Password reset instructions have been sent.
  Please allow a couple minutes for the email to traverse the internet and find its way to your inbox.
  If you do not receive the email, please double check your spam folder, or any other filtering you may have.
  If you have any questions, you may always email {{ links/mail-support-link }}
</p>
