{{page-header text='Password Reset' }}

<p>
  Your password has been successfully reset!<br>
  You may now login with your new password.<br>
  Any previous password you have used will no longer work (unless, of course, you set your new password to be one of your old ones).
  <br><br>
  If you have any questions, you may always email {{ links/mail-support-link }}
</p>
