.rect-spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;

  // most of this is defined in the root index.html
  > div {
    width: 6px !important;
  }
}
