<h1>0.75%</h1>
<h5>+ gateway fees (normally 2.9% + 30 cents)</h5>

No fees are hidden.
Transparency is the game, and {{ t 'appname' }} strives to win.
No contract, no monthly fees, no termination fees, free support.

<h1>Free Everything</h1>
If you don't need electronic processing,
and / or would prefer your registrants pay at the door,
you may use {{ t 'appname' }} at no cost whatsoever.
