<p>
  Sponsors promote the event.
  Here is where you can configure how much of a discount
  people who are members of the selected organizations get.
</p>

{{editing/event/event-sponsors
  event=model.event
  organizations=model.organizations
  discounts=model.discounts
}}
