<div class='container center-parent'>
 <div class='message text-center center-child both'>
   <div class='width-of-300px'>
     <h2>Oh no!</h2>
     <em>An error occurred.</em>
     <h4>This is likely not your fault</h4>

   </div>
 </div>
</div>
<video preload="auto" autoplay="autoplay" muted="muted" loop="loop" style="width: 720px; height: 404px; display: block; margin: 0 auto;">
  <source src="http://i.imgur.com/Up3cYw3.mp4" type="video/mp4">
  </video>
