<div class='container center-parent'>
 <div class='message text-center center-child both'>
   <div class='width-of-300px'>
     <h2>Oh no!</h2>
     <em>An error occurred.</em>
     <h4>This is likely not your fault</h4>

   </div>
 </div>
</div>
