{{#paper-dialog
  class='flex-gt-sm-50'
  onClose=(action onClose)
  clickOutsideToClose=true}}

  {{#paper-toolbar}}
    {{#paper-toolbar-tools}}
      <h2>{{title}}</h2>
      <span class='flex'></span>

      {{#paper-button
        iconButton=true
        onClick=(action didClickClose)}}
        {{paper-icon icon='close'}}
      {{/paper-button}}
    {{/paper-toolbar-tools}}
  {{/paper-toolbar}}

  {{#paper-dialog-content}}
    {{yield}}
  {{/paper-dialog-content}}
{{/paper-dialog}}
