<div class='container center-parent' id='loading'>
  <div class='message text-center center-child both'>
    <div class='width-of-300px'>
      Loading Stuff... Stand by...
    </div>

    <div class='sp sp-3balls'></div>
  </div>
</div>
